<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<ul>
  <% @products.each do |product| %>
    <li>
      <h3><%= link_to product.title, product_path(product) %></h3>
      <p>Price: <%= product.price %></p>
      <p>Stock Quantity: <%= product.stock_quantity %></p>
      <p>Category: <%= product.category.name %></p> 
    </li>
  <% end %>
</ul>
